SERVER_PORT=8080
SPRING_DATASOURCE_URL=jdbc:postgresql://aws-1-us-west-2.pooler.supabase.com:5432/postgres?sslmode=require&prepareThreshold=0
SPRING_DATASOURCE_USERNAME=postgres.nwghyyacoflihtacamip
SPRING_DATASOURCE_PASSWORD=parcial-2-arquisoft-ssjj
SPRING_DATASOURCE_HIKARI_MAXIMUM_POOL_SIZE=2
SPRING_DATASOURCE_HIKARI_MINIMUM_IDLE=0
SPRING_DATASOURCE_HIKARI_IDLE_TIMEOUT=10000
SPRING_DATASOURCE_HIKARI_MAX_LIFETIME=30000
SPRING_DATASOURCE_HIKARI_CONNECTION_TIMEOUT=30000
SPRING_DATASOURCE_HIKARI_VALIDATION_TIMEOUT=5000
FRONTEND_URL=https://parcial-2-arquisoft-ssjj.vercel.app
VITE_API_URL=http://localhost:8080
VITE_API_ACCEPT=application/vnd.parcial.v1+json
